{%- liquid
  assign item_id = item_id | default: 'neeli-accordion-item'
  assign title = title | default: ''
  assign content = content | default: ''
  assign icon = icon | default: 'none'
  assign open = open | default: false
-%}

<details class="neeli-accordion__item" id="{{ item_id }}"{% if open %} open{% endif %}>
  <summary class="neeli-accordion__summary">
    <span class="summary__title">
      {% render 'icon-accordion', icon: icon %}
      <span class="neeli-accordion__title">{{ title }}</span>
    </span>
    <span class="neeli-accordion__caret" aria-hidden="true">
      {{- 'icon-caret.svg' | inline_asset_content -}}
    </span>
  </summary>
  <div class="neeli-accordion__content rte">
    {{ content }}
  </div>
</details>
