<div class="theme-container theme-container--narrow theme-page-spacing theme-contact-page">
  <h2 class="theme-page-title theme-page-title--md theme-text-center">Send Us a Message</h2>

  {%- form 'contact', id: 'ContactForm', class: 'contact-form' -%}
    {%- if form.posted_successfully? -%}
      <div>
        Thanks for reaching out! We'll respond as soon as possible.
      </div>
    {%- elsif form.errors -%}
      <div>
        Please correct the errors in the form and try again.
      </div>
    {%- endif -%}

    <div>
      <div>
        <div>
          <label for="ContactForm-name">Name</label>
          <input
            type="text"
            name="contact[name]"
            id="ContactForm-name"
            placeholder="Your name"

          >
        </div>
        <div>
          <label for="ContactForm-email">Email</label>
          <input
            type="email"
            name="contact[email]"
            id="ContactForm-email"
            placeholder="Your email"

            required
          >
        </div>
      </div>

      <div>
        <label for="ContactForm-body">Message</label>
        <textarea
          rows="6"
          name="contact[body]"
          id="ContactForm-body"
          placeholder="How can we help you?"

          required
        ></textarea>
      </div>

      <button type="submit" class="theme-review-button">
        Send Message
      </button>
    </div>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Contact Form",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
