<div class="theme-container theme-container--narrow theme-page-spacing theme-auth-page">
  <h2 class="theme-page-title theme-page-title--lg theme-text-center">Reset Account Password</h2>
  <p class="theme-page-subtitle theme-text-center">Enter a new password for your account.</p>

  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}
      <div>
        {{ form.errors | default_errors }}
      </div>
    {%- endif -%}

    <div>
      <div>
        <label for="password">New Password</label>
        <input
          type="password"
          name="customer[password]"
          id="password"
          placeholder="New password"

          required
        >
      </div>

      <div>
        <label for="password_confirmation">Confirm Password</label>
        <input
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          placeholder="Confirm password"

          required
        >
      </div>
    </div>

    <button type="submit" class="theme-review-button">
      Reset Password
    </button>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Reset Password",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
