<div class="theme-container theme-container--narrow theme-page-spacing theme-auth-page">
  <h2 class="theme-page-title theme-page-title--lg theme-text-center">Create Account</h2>

  {%- form 'create_customer' -%}
    {%- if form.errors -%}
      <div>
        {{ form.errors | default_errors }}
      </div>
    {%- endif -%}

    <div>
      <div>
        <label for="Register-FirstName">First Name</label>
        <input
          type="text"
          name="customer[first_name]"
          id="Register-FirstName"
          placeholder="First name"

        >
      </div>

      <div>
        <label for="Register-LastName">Last Name</label>
        <input
          type="text"
          name="customer[last_name]"
          id="Register-LastName"
          placeholder="Last name"

        >
      </div>

      <div>
        <label for="Register-Email">Email</label>
        <input
          type="email"
          name="customer[email]"
          id="Register-Email"
          placeholder="Email"

          required
        >
      </div>

      <div>
        <label for="Register-Password">Password</label>
        <input
          type="password"
          name="customer[password]"
          id="Register-Password"
          placeholder="Password"

          required
        >
      </div>
    </div>

    <button type="submit" class="theme-review-button">
      Create Account
    </button>

    <div>
      Already have an account? <a href="{{ routes.account_login_url }}">Log in</a>
    </div>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Register Page",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
