<div class="theme-container theme-container--narrow theme-page-spacing theme-auth-page">
  <h2 class="theme-page-title theme-page-title--lg theme-text-center">Activate Account</h2>
  <p class="theme-page-subtitle theme-text-center">Create a password to activate your account.</p>

  {%- form 'activate_customer_password' -%}
    {%- if form.errors -%}
      <div>
        {{ form.errors | default_errors }}
      </div>
    {%- endif -%}

    <div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          name="customer[password]"
          id="password"
          placeholder="Password"

          required
        >
      </div>

      <div>
        <label for="password_confirmation">Confirm Password</label>
        <input
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          placeholder="Confirm password"

          required
        >
      </div>
    </div>

    <div>
      <button type="submit" class="theme-review-button">
        Activate Account
      </button>
      <button type="submit" name="decline" class="theme-review-button">
        Decline Invitation
      </button>
    </div>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Activate Account",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
