<div class="theme-password-section theme-password-page">
  <div>
    {%- if settings.logo != blank -%}
      <img src="{{ settings.logo | image_url: width: 120 }}" alt="{{ shop.name }}" width="120" height="120">
    {%- else -%}
      <span>{{ shop.name }}</span>
    {%- endif -%}
  </div>

  <h1 class="theme-page-title theme-page-title--md theme-text-center">Opening Soon</h1>
  <p class="theme-page-subtitle theme-text-center">Be the first to know when we launch our complete hair recovery solution.</p>

  {%- form 'customer', id: 'ContactPassword', class: 'password-signup-form' -%}
    {%- if form.posted_successfully? -%}
      <div>
        You've been added to our launching list!
      </div>
    {%- endif -%}

    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <div>
      <input
        type="email"
        name="contact[email]"
        placeholder="Enter your email"

        required
      >
      <button type="submit" class="theme-review-button">
        Notify Me
      </button>
    </div>
  {%- endform -%}

  <div>
    {%- form 'storefront_password', id: 'LoginPassword', class: 'password-login-form' -%}
      {%- if form.errors -%}
        <p>Incorrect password.</p>
      {%- endif -%}
      <label for="password">Enter store using password</label>
      <div>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"

        >
        <button type="submit" class="theme-review-button">
          Enter
        </button>
      </div>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "Password Page",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
